{% extends 'base.html' %}

{% block content %}
  <h1>Course Hub </h1><br>  

    {% for course in courses %}
      <!-- Example split danger button -->
      <div class="card" style="width: 18rem;">
        <img src="{{ course.image.url }}" alt="">
        <div class="card-body">
          <h5 class="card-title">{{ course.title }}</h5>
          <p class="card-text">some detials about video</p>
          {% if course.paid == True %}
            <a href="{% url 'home:video' course.episodes.last.slug  %}" class="btn btn-primary">Watch</a>
          {% else %}
            <p>{{ course.price }} Toman</p>
            <a href="" class="btn btn-primary">Purchase</a>
          {% endif %}
        </div>
      </div><br></br> 
    {% endfor %}

{% endblock %}