{% extends 'base.html' %}
{% load static %}

{% block extra %}
    <link rel="stylesheet" href="{% static 'accounts/css/style_login.css' %}">
{% endblock %}


{% block content %}
<div class="form-wrapper">
  <div class="form-container">
    <form action="" method="post">
      <h2 class="form-title">Login</h2>
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="Login" class="btn btn-primary w-100">
      <div class="text-center mt-3">
        <a href="{% url 'accounts:password_reset' %}" class="btn btn-link">Forgot password?</a>
      </div>
    </form>
  </div>
</div>
{% endblock %}
