name: Docker Image CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

env:
  GITHUB_ACTIONS: "true"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Build backend without other services
      run: docker build -t test_backend .

    - name: Start container
      run: docker run -d --name test_backend -e GITHUB_ACTIONS="true" test_backend

    - name: Run Tests
      run: docker exec test_backend sh -c "python manage.py test --parallel 1"


